<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liucf.gymsystembackend.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.liucf.gymsystembackend.model.entity.Course">
            <id property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="coachId" column="coach_id" jdbcType="BIGINT"/>
            <result property="sellingPrice" column="selling_price" jdbcType="DECIMAL"/>
            <result property="duration" column="duration" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="difficultyLevel" column="difficulty_level" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id,course_name,coach_id,
        selling_price,duration,create_time,
        update_time,is_delete,category_id,
        difficulty_level,description,image_url
    </sql>
</mapper>
