node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

clean-bak-files.js
cleanup-bak-files.js
debug-db-update.js
upload-db-images.js
url-map.json
url-map-db.json

replace-db-images.js
src/.umi
src/.umi-production

url-map.json

